footer{
  background:#a2c037;
  bottom:0;
  width:100%;
  height:12em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 3em 9em;
  color: white;
  /* margin-top: 2em; */
}

.homepage-footer-title {
  background-color: #396639;
  text-align: center;
  font-size:0.7vw;
  font-weight: normal;
}

.footer-text {
font-size:1vw;
}

#homepage-footer-data-follow img {    
width: 40%;
height: auto;
max-width: 6em;
}

#homepage-footer-title-news {
grid-column: 1; grid-row: 1;
}

#homepage-footer-title-join {
grid-column: 2; grid-row: 1;
}

#homepage-footer-title-contact {
grid-column: 3; grid-row: 1;
}

#homepage-footer-title-follow {
grid-column: 4; grid-row: 1;

display: inline-block;
}

#homepage-footer-data-news {
grid-column: 1; grid-row: 2;
}

#homepage-footer-data-join {
grid-column: 2; grid-row: 2;
}

#homepage-footer-data-contact {
grid-column: 3; grid-row: 2;
}

#homepage-footer-data-follow {
grid-column: 4; grid-row: 2;
text-align: center;
padding-top: 1em;
}