html {
    height: 100%;
    font-family: 'Comic sans MS';
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.homepage-content {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 20fr);
    grid-template-rows: 450 450 30 450;
}

#homepage-madera-picture {
    width: 100%;
    min-height: 15fr;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.homepage-section {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 455px));
    grid-auto-rows: auto;
}

.box-data {
    justify-self: center;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(205px, 300px));
    grid-auto-rows: auto;
}

.box-data img {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

.box-data h1 {
    font-size:0.7vw;
    font-size:2vmin;
}

.homepage-description-box {
    font-size:0.7vw;
    font-size:2vmin;
}

#homepage-news-title {
    text-align: center;
    font-size:0.7vw;
    font-size:2vmin;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.homepage-news {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 453px));
    grid-auto-rows: auto;
}

/*Avis*/

#list-comment {
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

#list-comment h1 {
    text-align: center;
    grid-column-start: 0;
    grid-column-end: 3; 
    font-size:0.7vw;
    font-size:7vmin;
}

.error-comment {
    grid-column-start: 0;
    grid-column-end: 3; 
    font-size:1vw;
    font-size:3vmin;
    color: red;
}

.box-comment {
    grid-column-start: 2;
    grid-column-end: 3; 
}

#list-comment form {
    grid-column-start: 2;
    grid-column-end: 3; 
}

#list-comment form textarea{
    width: 100%;
}

.comment-title {
    font-size:1vw;
    font-size:5vmin;
}

.comment-content {
    font-size:0.7vw;
    font-size:3vmin;
}