html {
    height: 100%;
    font-family: 'Comic sans MS';
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.homepage-content {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 20fr);
    grid-template-rows: repeat(3, 450);
}

#homepage-madera-picture {
    width: 100%;
    min-height: 15fr;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.homepage-section {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 455px));
    grid-auto-rows: auto;
}

.box-data {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(205px, 300px));
    grid-auto-rows: auto;
}

.box-data img {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;/*
    min-width: 165px;
    max-height: 500px;
    max-width: 100px;*/
}

.homepage-description-box {
    font-size:0.7vw;
    font-size:2vmin;
}
/*
#homepage-tertiaire {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#homepage-creche {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#homepage-association {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#homepage-bailleur {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#homepage-location {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#homepage-agricole {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.homepage-news {
    border: solid;
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
}
*/
/*
#title-madera {
    margin-top: 1%;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.homepage-content {
    position: static;
    background-color: white;
    margin-left: 12.5%;
    width: 75%;
    text-align: center;
}

#homepage-madera-picture {
    max-width: 80%;
    height: auto;
}

.box-data {
    text-align: left;
    display: inline-block;
    height: 10em;
    width: 40%;
}

.homepage-image-box {
    display: inline-block;
    left: 0;
    height: 10em;
    max-width: 40%;
}

.homepage-description-box {
    display: inline-block;
    height: 10em;
    width: 54%;
    padding-left: 4%;
}

.homepage-description-box h1, .box-data h1 {
    font-size: 1.5em; 
    color: #a2c037;
}

.homepage-description-box a {
    color: #a2c037;
    text-decoration: underline;
}

#homepage-title-news {
    padding-top: 1em;
    font-weight: normal;
    border-bottom: solid;
    padding-bottom: 0.5em;
}

.homepage-news {
    display: grid;
    grid-template-columns: 10% 40% 40%;
}

.box-data-news {
    text-align: center;
    display: inline-block;
    height: 17em;
}

.box-data-news h1 {
    font-size: 1em;
    color: #a2c037;
}

#news-1 {
    grid-column: 2;
}

#news-2 {
    grid-column: 3;
}

.news-presentation img {
    width: 100%;
    height: auto;
}