<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>MADERA</title>
        <link href="../css/header.css" rel="stylesheet">
        <link href="../css/index.css" rel="stylesheet">
        <link href="../css/footer.css" rel="stylesheet">
        <meta name="robots" content="noindex, nofollow">
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <!--Header-->
        <header>
            <img src="../pictures/logo-madera-header.PNG" alt="logo-madera" id="logo-header">
            <div class="header-routes" id="routes-acceuil"><a href="../index.html">Accueil</a></div>
            <div class="header-routes" id="routes-entreprise"><a>L'entreprise</a></div>
            <div class="header-routes" id="routes-solutions"><a>Nos solutions</a></div>
            <div class="header-routes" id="routes-cctp"><a href="./avis.html">Avis</a></div>
            <div class="header-routes" id="routes-contact"><a>Contact</a></div>
        </header>

        <!--Body-->
        <div id="list-comment">
            <h1>Vos avis</h1>
            
            <div v-if="errors.length > 0" class="error-comment">
                <p>Erreur{{errors.length > 1 ? "s" : null}}: </p>
                <div v-for="error in errors" :key="error.key">
                    <p>{{error.message}}</p>
                </div>
            </div>

            <div v-for="comment in commentList" :key="comment.key" class="box-comment">
                <p class="comment-title">{{comment.username}}</p>
                <p class="comment-content">{{comment.comment}}</p>
            </div>

            <form>
                <input type="text" v-model="username" placeholder="Pseudo" /><br>
                <textarea v-model="comment" placeholder="Votre commentaire" 
                        rows="5" cols="33">
                        It was a dark and stormy night...
                </textarea><br>
                <button type="button" v-on:click="addComment">Envoyer</button>
            </form>

        </div>

        <!--Footer-->
        <footer>
                <div id="homepage-footer-title-news" class="homepage-footer-title">
                    <h1>NEWSLETTER</h1>
                </div>
                <div id="homepage-footer-title-join" class="homepage-footer-title">
                    <h1>REJOIGNEZ-NOUS</h1>
                </div>
                <div id="homepage-footer-title-contact" class="homepage-footer-title">
                    <h1>NOUS CONTACTER</h1>
                </div>
                <div id="homepage-footer-title-follow" class="homepage-footer-title">
                    <h1>NOUS SUIVRE</h1>
                </div>
                
                <div id="homepage-footer-data-news" class="footer-text">
                    <ul>
                        <li><a>S'abonner à la newsletter</a></li>
                        <li><a>Consulter nos newsletter</a></li>
                        <li><a>Consulter nos actualités</a></li>
                    </ul>
                </div>
                <div id="homepage-footer-data-join" class="footer-text">
                    <ul>
                        <li><a>Consulter nos offre d'emplois</a></li>
                    </ul>
                </div>
                <div id="homepage-footer-data-contact" class="footer-text">
                    <ul>
                        <li>02 51 98 18 32</li>
                        <li>contact@madera-construction.com</li>
                        <li>MADERA</li>
                        <li>Rue Enzo Ferrari</li>
                        <li>85000 La Roche sur Yon</li>
                    </ul>
                </div>
                <div id="homepage-footer-data-follow">
                    <img src="../pictures/icon-facebook.png" alt="icone facebook">
                    <img src="../pictures/icon-google+.png" alt="icone google +">
                </div>
        </footer>

        <script>
            var listComment = new Vue({
                el: '#list-comment',
                data: {
                    count: 0,
                    countError: 0,
                    errors: [],
                    username: "",
                    comment: "",
                    commentList: [
                        {
                            username: "test pseudo",
                            comment: "test comment"
                        },
                        {
                            username: "pseudo2",
                            comment: "test comment2"
                        }
                    ]
                },
                methods: {
                    addComment: function() {
                        this.errors = [];
                        this.commentList.filter(function(item){
                            if(item.username === this.username){
                                this.errors.push({
                                    key: 'error' + (++this.countError).toString(),
                                    message: "Un seul avis par utilisateur."
                                })
                            }
                        },this);

                        !this.username ? 
                        this.errors.push({
                            key: 'error' + (++this.countError).toString(),
                            message: "Pas de pseudo."
                        }) : null;

                        !this.comment ? 
                        this.errors.push({
                            key: 'error' + (++this.countError).toString(),
                            message: "Pas de commentaire."
                        }) : null;

                        if (this.errors.length <= 0) {
                            this.commentList.push({
                                key: this.username + (++this.count).toString(),
                                username: this.username,
                                comment: this.comment
                            })
                        }
                    }
                }
            })
        </script>
    </body>
</html>