header {
    padding-top: 0.5em;;
    padding-bottom: 1.5em;
    display: grid, inline;
    font-size: 2em;
}

.logo-header {
	max-width: 25%;
	height: auto;
}

.logo-header-left {
    grid-column: 1;
}

header a {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-color: grey;
    text-decoration: none;
    color: black;
    transition: background-color 0.5s;
}

header a:hover {
    background-color: rgb(211, 210, 210);
    /*transition-delay: 2s;*/
}

#routes-acceuil {
    grid-column: 2;
}

#routes-entreprise {
    grid-column: 3;
}

#routes-solutions {
    grid-column: 4;
}

#routes-cctp {
    grid-column: 5;
}

#routes-contact {
    grid-column: 6;
}